.f-container{
  margin-left: 20%;
}

.f-submit{
  background-color: #0088cc;
  color: white;
  margin-left: 27%;
}

.ui-dialog { z-index: 1002 !important ;}
.ui-widget-overlay { z-index: 1001 !important ;}